*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

body{
    background-color:white;

}
img{
    
    border-radius: 50%;
    object-fit: cover;
}
.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color:none;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    right: 30px;
    font-size: 18px;
    font-weight: bold;

}
.menu  li  a{
    color: blue;
    text-decoration: none;
    padding: 8px;
    display: block;
    text-align: right;
}
.menu li a :hover {
    border: RED;
}
.menu li{
    float: right;
}
.title{
    font-size: larger;
    font-weight: 600;
    color: red;
}
.sub-title{
    font-size: bold;
    font-weight: 600;
    color: gold;
}

.menu-about{
        list-style-type: none;
        margin: 0;
        padding: 0;
        background-color:none;
        overflow: hidden;
        position: absolute;
        top: 108px;
        left: 75px;
        right: 0;
        font-size: 16px;
        font-weight: bold;
    
    }
    .menu-about li a{
        color: green;
        text-decoration: none;
        padding: 2px;
        display: block;
        
    }
    .menu-about li a :hover {
        color: RED;
    }
    .menu li{
        float: right;
}
.Education{
    background-image: url(image.jpg);
}